#projects {
  background-color: #1f1f1f;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project-item {
  flex: 1;
  background-color: #292929;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.project-item img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.project-item h3 {
  color: #4caf50;
}
